body {
    background-image: url("https://i.imgur.com/zLH9vSy.png");
    background-repeat: repeat;
    margin-left: auto;
    margin-right: auto;
}
.navbar-fixed-bottom {
    padding: 15px;
}
.img-thumbnail {
    float: left;
    margin: 10px;
    width: 40%;
}
#footer {
    background-color: #9b9ab6;
    height: 80px;
    border-top: 4px solid black;
}
.container {
    margin: 100px 0px 160px;
    margin-left: auto;
    margin-right: auto;
}
.col-md-6{
    background-color: #FFF;
    border: 2px black solid;
    margin: 10px 20px;
    padding: 0px 20px;
}
.page-header {
    padding-bottom: 0px;
    margin-top: 0px;
}
.col-md-3 {
    background-color: #FFF;
    border: 2px black solid;
    margin: 10px 20px;
    padding: 0px 20px;
    text-align: center;
}
#copytext {
    color: #ebebeb;
    position: absolute;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
}
.conbut {
    width: 20%;
    margin: 0px 5px 15px 5px;
    opacity: 1;
    transition: transform .4s; /* Animation */
}
.conbut:hover {
    opacity: 0.3;
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
p {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2.0;
    font-size: 15px;
}
.page-header {
    font-family: 'Comfortaa';
    text-transform: uppercase;
    font-size: 2vw;
    border-bottom: 1px solid #eee;
    margin: 10px 0px;
}
.navbar-default {
    background-color: #fff;
    height: 80px;
    border-bottom: 4px solid gray;
}


.navbar-header {
    color: #fff;
    width: 25%;
    height: 100%;
    text-align: center;
    margin-left: 15%;
    padding: 20px 0px;
    background-color: #7d88c7;
    font-size: 2vw;
    font-family: 'Comfortaa';
    text-transform: uppercase;
    text-shadow: 2px 2px 4px #000000;
}
.navbar-right {
    padding: 10px;
}

.navbar-default .navbar-nav>li>a {
    text-decoration: none;
    text-transform: uppercase;
    color: #a090b7;
    letter-spacing: 1px;
    transition: transform .4s;
}
.navbar-default .navbar-nav>li>a:hover {
    text-decoration: none;
    color: #312541;
    letter-spacing: 1px;
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
